

@media only screen and (max-width: 1300px) 
{
	.our_services_main a.fh5co-main.custom-btn {
    	margin-top: 7.5%;
	}
}
@media only screen and (max-width: 1200px)
{
	.our_services_main a.fh5co-main.custom-btn {
    	margin-top: 12.8% !important;;
	}
}
@media only screen and (min-width: 1300px) 
{
	
}
@media only screen and (min-width: 1200px) 
{
	.contact_us_main p:nth-child(2) {
    	margin-right: 80px;
	}
	.contact_us_main p:nth-child(4) {
    	clear: both;
	}
    .contact_us_main .address_contact_form {
       left: 100px !important;
    }
    .node-23 .contact_us_main p:nth-child(4) {
		clear: inherit;
    }
}
@media only screen and (min-width: 1024px)
{


}
@media only screen and (max-width: 993px)
{
	/*.contact_us_main p:nth-child(3) {
    	margin-top: 46px;
	}*/
	.fh5co-section-contact p {
		clear: both;
	}
	.contact_us_main p {
    	text-align: center;
	}
	.copy-right-main {
    	width: 100%;
    	float: left;
	}
}
@media only screen and (max-width: 768px)
{
	.contact_us_main > div {
    	float: none;
	}
	.contact_us_main h3 {
    	text-align: center;
	}
	.contact_us_main h2 {
    	text-align: center;
	}
	.webform-submission-contact-us-paragraph-34-form div#edit-actions {
		text-align: center;
	}
	.region-language-switcher-footer ul.links li {
		float: none;
		text-align: center;
	}
	.region-language-switcher-footer ul.links li span {
		float: none;
	}
	.region.region-language-switcher-footer ul.links {
    	padding-left: 0px;
	}
	.region-language-switcher-footer ul.links li:nth-child(2) {
		padding-left: 0px;
	}
	.node-23 .fh5co-section-contact div#edit-actions {
    	text-align: center;
	}
	.node-23 .fh5co-section-contact {
    	margin-top: 20px;
    	margin-bottom: 47px;
	}
	.node-23 .contact_us_main h2 {
		margin-bottom: 33px;
	}
	.node-23 .address_contact_form+p {
		display: none;
	}
	.node-23 .owl-carousel.owl-theme .owl-controls .owl-dots {
		margin-bottom: -80px !important;
	}
	.node-23 .scroll-none-front {
		padding: 57px 0px 62px 0px !important;
	}
	#fh5co-header #fh5co-header-logo img {
    	width: 120px;
	}
	.node-1 .our_services_main .fh5co-heading.text-center {
		margin: 42px 0px 61px 0px;
	}
	.node-1 .our_services_main a.fh5co-main.custom-btn {
		margin-top: 1px !important;
	}
	.node-1 section#fh5co-testimonial .owl-carousel.owl-theme .owl-controls .owl-dots {
		margin-bottom: -80px !important;
	}
	.node-1 .field__item.address_contact_form {
		margin-top: 20px;
	}
	.node-1 div#fh5co-copyright .scroll-totop-main {
		padding: 40px 0px 30px 0px;
	}
}
@media only screen and (min-width: 768px)
{
	.contact_us_main {
    	text-align: center;
	}
	.contact_us_main p:nth-child(2) {
    	float: left;
    	margin-right: 42px;
	}
	.contact_us_main > div {
    	float: left;
    	text-align: left;
    	position: relative;
    	left: 50px;
	}
}
@media only screen and (min-width: 570px)
{
 	#fh5co-header #fh5co-header-logo img {
    	width: 100px;
	}



}
@media only screen and (min-width: 480px)
{


}
@media only screen and (max-width: 375px)
{

}
@media only screen and (max-width: 320px)
{

}