/*          *** Custom Style File ***    */

/*    ***  Header  ***  */


  /*    ***  Body  ***  */ 
body#outer-page #fh5co-workwithus .fh5co-workwithus-intro {
    padding: 0px;
}
body#outer-page .fh5co-workwithus-intro h3.has-btn-after {
    margin-bottom: 0px;
}
body#outer-page .fh5co-workwithus-intro h2 {
    padding: 47px 0px 40px 0px;
}	
body#outer-page .fh5co-workwithus-intro > p {
    padding: 58px 0px 63px 0px;
    margin-bottom: 0px;
}
body#outer-page div#fh5co-journal .views-row .item {
    text-align: center;
}
div#fh5co-journal .views-field figure {
    margin-bottom: 0px;
}
div#fh5co-journal .views-field h2 {
    padding-top: 20px;
    clear: both;
    padding-bottom: 15px;
}
footer#fh5co-footer {
    padding-bottom: 0px;
}
.text-center.fh5co-social-container ul.fh5co-social li {
    margin: 0px 10px;
}
.text-center.fh5co-social-container ul.fh5co-social {
    position: relative;
    top: -5px;
}
.contact_us_main p:nth-child(5) {
    display: none;
}
.our_services_main {
    padding-bottom: 38px !important;
}
p.portfolio_fron_rm {
    margin-bottom: 8px;
}
.contact_us_main h3 {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
}
.fh5co-section-contact {
    padding: 0px;
}
.field__item {
    display: block;
}
.contact_us_main h2 {
    margin-bottom: 12px;
    position: relative;
    line-height: 1.7;
    font-weight: 700;
    font-size: 40px;
}

/*   ** Language switcher ***/
.region-language-switcher-footer ul.links li {
    list-style: none;
    float: left;
}
.region-language-switcher-footer ul.links li:nth-child(2) {
    padding-left: 30px;
}
.region-language-switcher-footer .language-switcher-language-url {
    position: relative;
    top: -14px;
}

.fh5co-heading.text-center {
    margin: 40px 0px 60px 0px;
}
h2.fh5co-heading-title {
    margin: 0px;
}
.field--name-field-service-item-ref .field__item h2 {
    margin: 20px 0px 15px 0px;
}
.fh5co-main-service {
    margin-bottom: 22px;
}
.our_services_main {
    padding-bottom: 0px !important;
}
section#fh5co-workwithus {
    margin-bottom: 0px;
}
div#fh5co-journal .fh5co-heading.text-center {
    margin: 42px 0px 55px 0px;

}
.our_services_main .fh5co-heading.text-center {
    margin: 40px 0px 60px 0px;
}
#fh5co-journal .fh5co-heading .fh5co-heading-intro {
    margin-top: 49px;
}
div#fh5co-journal {
    margin-bottom: 47px;
}
div#fh5co-journal .portfolio_front_main {
    margin-bottom: 35px;
}
div#fh5co-journal .portfolio_front_main p {
    margin-bottom: 23px;
}
section#fh5co-testimonial {
    padding: 56px 0px 128px 0px;
    clear: both;
}
section#fh5co-testimonial .quote-icon {
    margin-bottom: 43px;
}
.field__item.address_contact_form {
    margin-top: 42px;
}
.webform-submission-contact-us-paragraph-34-form div#edit-actions {
    margin-top: 30px;
}
div#fh5co-copyright .fh5co-social-container {
    margin-bottom: 0px;
}
.contact_us_main {
    margin-top: 3.5%;
}
.node-22 p.address_contact_form {
    margin-bottom: 22px;
}
.node-22 .views-field-nothing span > .item > div {
    margin-bottom: 33px;
}
.node-23 .fh5co-section-contact {
    margin-top: 42px;
    margin-bottom: 46px;
}
/********************
******  Footer  *****
*********************/
main#fh5co-main {
    padding: 0px;
}
div#fh5co-copyright .scroll-totop-main {
    padding: 20px 0px;
}
/*.fh5co-social-container.socail-none-front {
    margin-bottom: 2.4em !important;
}*/
.scroll-none-front {
    margin-bottom: 0px;
    padding: 30px 0px 45px 0px !important;
}
div#fh5co-copyright p.chech {
    margin-bottom: 15px;
}
.node-21 .scroll-none-front,
.node-20 .scroll-none-front {
    margin-bottom: 0px;
    padding: 34px 0px 45px 0px !important;
}
.node-20 .scroll-none-front {
    margin-bottom: 0px;
    padding: 55px 0px 48px 0px !important;
}
.node-22 .scroll-none-front {
    margin-bottom: 0px;
    padding: 0px 0px 48px 0px !important;
}
.node-23 .scroll-none-front {
    margin-bottom: 0px;
    padding: 57px 0px 48px 0px !important;
}
.node-22 div#fh5co-journal {
    margin-bottom: 0px;
}
footer#fh5co-footer > .container {
    display: none;
}
.node-22 footer#fh5co-footer #fh5co-copyright {
    margin-top: -5px;
}