/*          *** Custom Style File ***    */

/*    ***  Header  ***  */


  /*    ***  Body  ***  */ 
body#outer-page #fh5co-workwithus .fh5co-workwithus-intro {
    padding: 0px;
}
body#outer-page .fh5co-workwithus-intro h3.has-btn-after {
    margin-bottom: 0px;
}
body#outer-page .fh5co-workwithus-intro h2 {
    padding: 50px 0px 45px 0px;
}	
body#outer-page .fh5co-workwithus-intro > p {
    padding: 62px 0px 66px 0px;
    margin-bottom: 0px;
}
body#outer-page div#fh5co-journal .views-row .item {
    text-align: center;
}
div#fh5co-journal .views-field figure {
    margin-bottom: 0px;
}
div#fh5co-journal .views-field h2 {
    padding-top: 10px;
    clear: both;
    padding-bottom: 5px;
}
footer#fh5co-footer {
    padding-bottom: 0px;
}
.text-center.fh5co-social-container ul.fh5co-social li {
    margin: 0px 10px;
}
.text-center.fh5co-social-container ul.fh5co-social {
    position: relative;
    top: -5px;
}
.contact_us_main p:nth-child(5) {
    display: none;
}
.our_services_main {
    padding-bottom: 38px !important;
}
p.portfolio_fron_rm {
    margin-bottom: 8px;
}

/*    ***  Footer  ***  */
main#fh5co-main {
    padding: 0px;
}